    <header class="w3-container w3-theme-dark">
        <a href="${pageContext.request.contextPath}/" class="w3-center w3-button w3-theme-dark w3-hover-indigo"><h1><b>Car rent</b></h1></a>
        <a href="${pageContext.request.contextPath}/logout" class="w3-center w3-button w3-theme-dark w3-hover-orange w3-right">wyloguj</a>
        <a href="${pageContext.request.contextPath}/employee/${sessionScope.employee.username}" class="w3-center w3-button w3-theme-dark w3-hover-green w3-right"><b>${sessionScope.employee.fullUserName}</b></a>
    </header>
    