<div class="w3-sidebar w3-large w3-bar-block w3-theme" style="width:25%">

    <h4 class="w3-bar-item w3-theme-d3">wypożyczenie</h4>
    <a href="#" class="w3-bar-item w3-button">wypożycz</a>
    <a href="#" class="w3-bar-item w3-button">zwróć</a>
    <a href="#" class="w3-bar-item w3-button">historia wypożyczeń</a>
    <a href="#" class="w3-bar-item w3-button">klienci</a>
    <a href="#" class="w3-bar-item w3-button">faktury</a>
    <br>
    <h4 class="w3-bar-item w3-theme-d3">zarządzanie</h4>
    <a href="#" class="w3-bar-item w3-button">promocjami</a>
    <a href="/car/" class="w3-bar-item w3-button">samochodami</a>
    <a href="/car/model/" class="w3-bar-item w3-button">modelami samochodów</a>
    <a href="/client/" class="w3-bar-item w3-button">klientami</a>
    <a href="#" class="w3-bar-item w3-button">pracownikami</a>

</div>
<div class="w3-container" style="margin-left:25%">